.bottom {
  min-height: 900px;
  background: url(../../../img/bottom.jpg) top center/cover no-repeat;
  border-radius: 450px 450px 0 0;

  @include media-breakpoint-down(lg) {
    border-radius: 300px 300px 0 0;
    min-height: 750px;
  }

  @include media-breakpoint-down(md) {
    border-radius: 200px 200px 0 0;
    min-height: 500px;
  }

  @include media-breakpoint-down(sm) {
    border-radius: 150px 150px 0 0;
    min-height: 350px;
  }

  @include media-breakpoint-down(s) {
    border-radius: 100px 100px 0 0;
    min-height: 250px;
  }
}
