<!DOCTYPE html>
<html lang="ru">
  <!-- Подключение head -->
  @@include('../blocks/components/head/head.html', {"title": "MainPage"})
  <body>
    <div class="wrapper">
      <!-- Подключение header -->
      @@include('../blocks/modules/header/header.html', {"link": "0"})

      <main class="main"></main>

      <!-- Подключение footer -->
      @@include("../blocks/modules/footer/footer.html")
    </div>

    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
