.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  font-weight: 500;
  font-size: 20px;
  background-color: transparent;
  border-color: $button-color;
  padding: 9px 20px;
  transition: all 0.3s ease 0s;
  color: $title-color;
  @extend %title-font;
  text-transform: uppercase;

  @include media-breakpoint-up(lg) {
    &:hover {
      border-color: #53a1cb;
      color: #53a1cb;
    }
  }

  &._fw {
    width: 100%;
  }
}

/* .btn - дргуие стили
.btn {
  background-color: $title-color;
  border: none;
  border-radius: 21px;
  padding: 6px 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 29px;
  color: #fffff0;
  cursor: pointer;

  &--black {
    background-color: $title-color;
    min-width: 160px;
  }

  &--transparent {
    background-color: transparent;
    border: 1px solid rgba(#454647, 0.5);
    color: #8f8d8d;
    padding: 6px 16px;
  }

  &--tag {
    display: inline-block;
    font-size: 14px;
    line-height: 28px;
    padding: 0 16px;
  }
}

*/
